.container {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 4rem 8rem 4rem 4rem; 
  flex: 1 0 auto; /* Add this */
  background-color: #333; 
  font-family: 'Roboto', sans-serif; 
  color: #fff;
}


.description {
  color: #aaa; /* Make the text more greyed out */
  font-style: italic; /* Make the text italic */
  margin-bottom: 1rem; /* Add some space below the description */
}

.jobDetails {
  font-weight: bold; /* Make the job details bold */
  margin-bottom: 1rem; /* Add some space below the job details */
}

.companyName {
  margin-top: 2rem; /* Add some space above the company name */
  font-size: 1.5em; /* Increase the font size */
}


.body {
  margin-top: 20px; 
  font-size: 1em; 
  background-color: #333; 
  color: #fff;
  margin-left: 2rem;
  max-width: 60rem; 
  line-height: 1.5; 
}

.body p:last-of-type {
  margin-bottom: 10px; 
}

.body ul {
  padding-left: 2rem; 
  margin-top: 0; 
}

.body ul li {
  padding-left: 1rem; 
  margin-bottom: 0.5rem; 
}

.main h1 {
  margin-bottom: 10px; 
  font-size: 2em; 
}

.portrait {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 250px;
  height: 250px; 
  border: 2px solid #007BFF;
  border-radius: 50%; 
  overflow: hidden; 
  position: relative;
}

@media (max-width: 300px) {
  .portrait {
    margin-left: auto; 
    margin-right: auto;
  }
}

.intro {
  display: flex; 
  align-items: center; 
  flex-wrap: wrap;
  gap: 550px; 
  margin-left: 2rem;
}
@media (max-width: 1200px) {
  .intro {
    flex-direction: column; 
    align-items: center; 
  }
  .intro h1 {
    margin-top: -20px; 
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  background-color: #333; 
  color: #fff; 
  font-family: 'Roboto', sans-serif; 
  font-size: 1.2em; 
  font-weight: 500; 
  letter-spacing: 0.05em; 
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-top: 1px solid #007BFF; 
  background-color: #333; 
  color: #fff; 
  font-family: 'Roboto', sans-serif; 
  font-size: 1.2em; 
  font-weight: 500; 
  letter-spacing: 0.05em; 
  margin-top: auto; /* Add this to push the footer to the bottom */
}

.footer div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.footer div a:not(:last-child) {
  margin-right: 10px; 
}

.footer p {
  margin: 0;
  padding-right: 10px;
  white-space: nowrap;
}

.body h2 {
  font-size: 3em; 
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800; 
  margin-top: 10px;
  margin-bottom: 20px; 
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; 
  background-image: linear-gradient(to right, #007BFF, #0056b3); 
}

.body p {
  margin-bottom: 20px; 
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: #333; 
  color: #fff;
}

.navLink {
  margin-right: 20px;
}

.navLink:last-child {
  margin-right: 0;
}

