.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  align-items: center; 
}

.header {
  flex-shrink: 0; 
  display: flex;
  justify-content: flex-end;
  width: 100%; 
  padding-top: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-mono);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center; 
  padding: 4rem 8rem 4rem 4rem;
  flex: 1 0 auto; 
  background-color: var(--background-color);
  font-family: var(--font-mono);
  color: var(--text-color);
  width: 100%; 
}

.footer {
  flex-shrink: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-top: 1px solid var(--primary-accent);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-mono);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.05em;
  width: 100%; 
  margin-top: auto; 
}

.description {
  color: var(--subtext-color); 
  font-style: italic; 
  margin-bottom: 1rem; 
}

.jobDetails {
  font-weight: bold; 
  margin-bottom: 1rem; 
}

.companyName {
  margin-top: 2rem; 
  font-size: 1.5em; 
}

.body {
  margin-top: 20px;
  font-size: 1em;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 60rem;
  line-height: 1.5;
  text-align: center; 
}

.body p:last-of-type {
  margin-bottom: 10px;
}

.body ul {
  padding-left: 2rem;
  margin-top: 0;
}

.body ul li {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.main h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

.portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 2px solid var(--primary-accent);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 300px) {
  .portrait {
    margin-left: auto;
    margin-right: auto;
  }
}

.intro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 550px;
  margin-left: 2rem;
}

@media (max-width: 1200px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }
  .intro h1 {
    margin-top: -20px;
  }
}

.footer div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.footer div a:not(:last-child) {
  margin-right: 10px;
}

.footer p {
  margin: 0;
  padding-right: 10px;
  white-space: nowrap;
}

.body h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, var(--primary-accent), #0056b3);
}

.body p {
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.navLink {
  margin-right: 20px;
  position: relative;
  transition: color 0.3s ease;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--primary-accent);
  transition: width 0.3s ease;
}

.navLink:hover {
  color: var(--primary-accent);
}

.navLink:hover::after {
  width: 100%;
}

.navLink:last-child {
  margin-right: 0;
}