.experienceItem {
  margin-top: 1rem; 
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  flex-direction: column; 
  margin-left: 2rem; 

}

.experienceDetails {
  display: flex;
  align-items: center;
  gap: 1rem; 
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  width: 100%; 
}

.detailsSection {
  margin-left: 3.5rem; 

  max-width: 600px; 
  padding-right: 1rem; 
  word-wrap: break-word; 
  font-size: 0.875rem; 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.detailsSection.expanded {
  max-height: 1000px; 
  opacity: 1;
}

.textColor {
  color: var(--text-color);
}

.subtextColor {
  color: var(--subtext-color);
}

.hiddenArrow {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-right: 0rem; 
}

.experienceItem:hover .hiddenArrow {
  opacity: 1;
}

.circularImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.period {
  margin-left: auto; 
  text-align: right; 
  white-space: nowrap; 
  font-family: var(--font-mono); 
}

.role {
  font-size: 0.875rem; 
}